# Gradle
.gradle/
build/
bin/
out/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Temporary files
create_icon.ps1

src/main/resources/arceuuscc.properties.example

RunClient.bat
